@font-face {
    font-family: '3dumbregular';
    src: url('Police/3Dumb-webfont.eot');
    src: url('Police/3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('Police/3Dumb-webfont.woff2') format('woff2'),
         url('Police/3Dumb-webfont.woff') format('woff'),
         url('Police/3Dumb-webfont.ttf') format('truetype'),
         url('Police/3Dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

p
{
    font-size: 14px; /* ceci est une note */
    background-color: black;
    opacity: 0.3;
    
}

p{
	font-family: '3dumbregular',Arial;
    color: white;
    border-top: 3px blue dotted;
}
h1
{
    font-size: 40px; 
    color: white;
    border: 3px blue solid;
    border-radius:20px/10px;
    box-shadow:6px 6px 10px blue;
    text-shadow:6px 6px 10px blue;
    background-image: url("https://cdn.pixabay.com/photo/2016/04/06/08/50/gears-1311171_960_720.jpg")

}

body
{
    background: url("https://upload.wikimedia.org/wikipedia/commons/4/47/PNG_transparency_demonstration_1.png") fixed no-repeat center,url('images/paysage.jpg') fixed;
}

mark
{
    /* La couleur de fond prend le pas sur celle de toute la page */
    background-color: red;
    color: white;
}

