#conteneur
{
	display: flex;
    border:2px solid #444;

}

.element
{
	height: 150px;
	width: 100px;
}


  .element:nth-child(2) /* On prend le deuxième bloc élément */
{
    background-color: blue;
    order: 3;
}


 .element:nth-child(3) /* On prend le deuxième bloc élément */
{
    background-color: green;
    order: 1;
    flex: 1;
    
}

 .element:nth-child(1) /* On prend le deuxième bloc élément */
{
    background-color: purple;
    order: 2;
    
}