@font-face {
    font-family: 'aliceregular';
    src: url('fonts/Alice-Regular-webfont.eot');
    src: url('fonts/Alice-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Alice-Regular-webfont.woff2') format('woff2'),
         url('fonts/Alice-Regular-webfont.woff') format('woff'),
         url('fonts/Alice-Regular-webfont.ttf') format('truetype'),
         url('fonts/Alice-Regular-webfont.svg#aliceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1{
	font-family: 'aliceregular', arial, verdana;
	text-align: center;
	border: 3px purple outset;
    border-radius:20px/10px;/* effet arrondie */
    box-shadow:6px 6px 10px purple;

}

h2{
	color: purple;
	font-family: 'aliceregular,arial,verdana';
	font-size: 24px;
	border:5px purple dashed;

}

body{

    background: url('https://i.pinimg.com/originals/fe/5f/67/fe5f677b1627009c4b3e1c1c31dedf71.png') no-repeat fixed;
}